.container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (height: 414px) {
    height: auto;
  }
}

.flankLeft {
  width: 10%;
}

.flankRight {
  width: 10%;
}

.children {
  width: 80%;
}
