.container {
  width: 100%;
  // height: 116px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 32px;

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  @media (prefers-color-scheme: light) {
    background-color: var(--main-bg-color-light);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--main-bg-color-dark);
  }
}

.separator {
  width: 100%;
  border-top: 0.5px solid var(--subtitle-color);

  @media (min-width: 600px) {
    display: none;
  }
}

.socials {
  display: flex;
  gap: 32px;
}
