$mobile-width: 900px;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   padding-top: 48px;
  padding: 48px 16px 16px 16px;
  margin-bottom: 80px;
  font-family: Inter;
  opacity: 1;
}

.section {
  opacity: 0;
  transform: translateY(40px);
}

.mainHeading {
  transform: translateY(40px);
  font-size: 64px;
  opacity: 0;
  font-weight: 300;

  @media (max-width: $mobile-width) {
    font-size: 40px;
  }
}

.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin: 80px 0;
  width: 50%;
  height: 40vh;
  //   padding: 24px;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.introBody {
  //   font-size: 20px;
  font-weight: 100;
  line-height: 40px;
}

.firstArrow {
  animation: pulsate 7s infinite ease-out;
}

.servicesContainer {
  display: flex;
  flex-direction: row;

  @media (max-width: $mobile-width) {
    gap: 40px;
    flex-direction: column;
  }

  .serviceContainer {
    padding: 0 16px;

    @media (max-width: $mobile-width) {
      padding: 0;
    }

    .serviceText {
      font-size: 32px;
    }
  }
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 48px;
  height: 90vh;

  @media (prefers-color-scheme: light) {
    background-color: var(--main-bg-color-light);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--main-bg-color-dark);
  }

  .contactHeading {
    font-family: Inter;
    font-size: 64px;
    font-weight: 300;
    width: 80%;
    text-align: center;

    @media (max-width: $mobile-width) {
      font-size: 40px;
      width: 100%;
    }
  }

  .ctaAction {
    // opacity: 0;
    width: 80%;
    display: flex;
    justify-content: center;
    // transform: translateY(20px);

    @media (max-width: $mobile-width) {
      font-size: 40px;
      width: 100%;
    }

    @media (max-width: 280px) {
      padding: 24px 48px;
      margin: 0;
    }

    .ctaButton {
      width: auto;
      min-height: 40px;
      padding: 8px 40px;
      font-size: 1rem;
      font-family: "Inter", sans-serif;
      border-radius: 24px;
      background: transparent;
      border: 2px solid var(--light-purple);
      color: var(--light-purple);
      cursor: pointer;
      transition: transform, opacity;
      transition-timing-function: ease;
      transition-duration: 400ms;
    }

    .ctaButton:hover {
      transform: scale(1.02);
    }

    .ctaButton:active {
      transform: scale(1);
    }
  }

  .contactArrow {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    animation: pulsate 7s infinite ease-out;

    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }

  .ball {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    border: 3px solid var(--light-cyan);
    border-radius: 50%;
    pointer-events: none;

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(4px);
  }
}
