.container {
  width: 100%;
  height: 100vh;
  display: flex;
  //   background-color: palegreen;
  justify-content: space-between;
}

.flankLeft {
  width: 10%;
  //   border-right: 0.5px solid var(--subtitle-color);
}

.flankRight {
  width: 10%;
  //   border-left: 0.5px solid var(--subtitle-color);
}
