.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.content {
  display: flex;
  opacity: 0;
  transform: translateY(40px);
  flex-direction: column;
  padding: 40px;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header {
  text-align: center;
  font-size: 80px;
  margin: 0;
}

.arrow {
  display: flex;
  align-items: center;
  transform: rotate(180deg);
  width: 80px;
}

.backContainer {
  display: flex;
  transition: transform;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.backContainer:hover {
  transform: translateX(-8px);
}

.back {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  gap: 8px;
}
