$mobile-width: 900px;

.container {
  display: flex;
  width: 100%;
  height: 116px;
  opacity: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: transparent;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;

  @media (max-width: $mobile-width) {
    height: 102px;
  }
}

.opaqueContainer {
  @media (prefers-color-scheme: light) {
    background-color: var(--main-bg-color-light);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--main-bg-color-dark);
  }

  display: flex;
  width: 100%;
  height: 116px;
  opacity: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: transparent;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;

  @media (max-width: $mobile-width) {
    height: 102px;
  }
}

.flankLeft {
  // width: 10%;
  //   border-right: 0.5px solid var(--subtitle-color);
}

.flankRight {
  // width: 10%;
  //   border-left: 0.5px solid var(--subtitle-color);
}

.header {
  display: flex;
  width: 80%;
  height: 100%;
  justify-self: flex-start;
  justify-content: space-between;
}

.companyNameContainer {
  display: flex;
  width: 40%;
  justify-content: flex-start;
  padding-left: 16px;
  align-items: center;

  @media (max-width: $mobile-width) {
    font-size: 24px;
    width: 100%;
  }

  transition: transform;
  transition-timing-function: ease;
  transition-duration: 0.5s;

  &:hover {
    transform: translateX(8px);
    cursor: pointer;
  }
}

.companyName {
  font-size: 40px;
  font-weight: 600;

  @media (max-width: $mobile-width) {
    font-size: 24px;
  }
}

.links {
  display: flex;
  width: auto;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.hamburger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  align-self: center;

  @media (min-width: $mobile-width) {
    display: none;
  }
}

.linkContainer {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform;
  transition-timing-function: ease;
  transition-duration: 0.5s;

  &:hover {
    transform: translateX(-8px);
    cursor: pointer;
  }
}

.linkText {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
}
