$mobile-width: 900px;

@keyframes pulsate {
  0% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(4px);
  }
}

.arrowAnimation {
  animation: pulsate 2s infinite ease-in-out;
}

.contactArrow {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;

  @media (max-width: $mobile-width) {
    top: -10%;
    left: 80%;
  }
}

.container {
  width: 100%;
  display: flex;
  padding: 48px 16px 16px 16px;
  margin-bottom: 80px;

  @media (max-width: $mobile-width) {
    gap: 116px;
    flex-direction: column;
  }
}

.left {
  display: flex;
  flex: 1;
  opacity: 0;
  transform: translateY(40px);
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  opacity: 0;
  transform: translateY(40px);
}

.message {
  width: 100%;
  font-family: "Jost", sans-serif;
  font-size: 64px;
  font-weight: 300;

  @media (max-width: 800px) {
    font-size: 48px;
  }
}

.errorBody {
  text-align: center;
}

.email {
  color: var(--magenta);
}

.contentBody {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  align-items: center;
  gap: 24px;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.leftContent {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  align-items: flex-start;
  gap: 24px;
  margin-top: 40px;

  @media (max-width: 800px) {
    position: static;
    width: 100%;
  }
}

.textfield {
  width: 100%;
  height: 80px;
}

.textArea {
  width: 100%;
  height: 320px;
}

.submitButton {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: flex-start;
}

.footer {
  display: flex;
  justify-content: center;
  opacity: 0;

  @media (max-width: 280px) {
    padding: 0 24px;
  }

  @media (max-height: 500px) {
    display: none;
  }
}

.copyright {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--subtitle-color);
}
